Repository jongpie/NebulaLogger, pull requests merged in 2020-10, with the labels that each got.

#36 Added ability to store record JSON on LogEntry__c
  nebula-logger/main/logger/classes/LogEntryBuilder.cls
  nebula-logger/main/logger/classes/LogEntryEventHandler.cls
  nebula-logger/main/logger/classes/Logger.cls
  nebula-logger/main/logger/layouts/LogEntry__c-Log Entry Layout.layout-meta.xml
  nebula-logger/main/logger/objects/LogEntryEvent__e/fields/RelatedRecordJson__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntry__c/fields/RelatedRecordJson__c.field-meta.xml
  nebula-logger/main/logger/objects/LoggerSettings__c/fields/StoreRelatedRecordJson__c.field-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerAdmin.permissionset-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerEndUser.permissionset-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerLogViewer.permissionset-meta.xml
Labels: enhancement

#37 Updated to the latest version of ApexCallouts library
  nebula-logger/main/callouts/classes/Callout.cls
  nebula-logger/main/callouts/classes/RestApi.cls
  nebula-logger/tests/callouts/classes/RestApi_Tests.cls
Labels: cleanup

#38 Eliminated TestDataFactory.cls
  manifest/package.xml
  nebula-logger/tests/logger/classes/LogBatchPurger_Tests.cls
  nebula-logger/tests/logger/classes/LogEntryHandler_Tests.cls
  nebula-logger/tests/utilities/classes/TestDataFactory.cls
  nebula-logger/tests/utilities/classes/TestDataFactory.cls-meta.xml
Labels: cleanup

#43 Added support for SObject record parameter in flows
  nebula-logger/main/logger/classes/FlowLogEntry.cls
  nebula-logger/main/logger/classes/LogEntryBuilder.cls
  nebula-logger/tests/logger/classes/FlowLogEntry_Tests.cls
Labels: enhancement

#34 Added LogMessage for handling formatted messages
  manifest/package.xml
  nebula-logger/main/logger/classes/LogEntryBuilder.cls
  nebula-logger/main/logger/classes/LogMessage.cls
  nebula-logger/main/logger/classes/LogMessage.cls-meta.xml
  nebula-logger/main/logger/classes/Logger.cls
  nebula-logger/tests/logger/classes/LogMessage_Tests.cls
  nebula-logger/tests/logger/classes/LogMessage_Tests.cls-meta.xml
  nebula-logger/tests/logger/classes/Logger_Tests.cls
Labels: enhancement

#48 Added check for UserInfo.getSessionId() for getting user session
  nebula-logger/main/logger/classes/LogEntryBuilder.cls
Labels: bug

#52 View JSON quickAction enhancements
  nebula-logger/main/logger/aura/logJSONViewer/logJSONViewer.cmp
  nebula-logger/main/logger/aura/logJSONViewer/logJSONViewer.css
  nebula-logger/main/logger/aura/logJSONViewer/logJSONViewerController.js
  nebula-logger/main/logger/aura/logJSONViewer/logJSONViewerHelper.js
Labels: enhancement

#51 Added better support for SObject record parameters in Flow
  manifest/package.xml
  nebula-logger/main/logger/classes/ComponentLogEntry.cls
  nebula-logger/main/logger/classes/FlowLogEntry.cls
  nebula-logger/main/logger/classes/FlowLogRepo.cls
  nebula-logger/main/logger/classes/FlowRecordLogEntry.cls
  nebula-logger/main/logger/classes/FlowRecordLogEntry.cls-meta.xml
  nebula-logger/main/logger/classes/LogEntryBuilder.cls
  nebula-logger/tests/logger/classes/FlowLogEntry_Tests.cls
  nebula-logger/tests/logger/classes/FlowRecordLogEntry_Tests.cls
  nebula-logger/tests/logger/classes/FlowRecordLogEntry_Tests.cls-meta.xml
  nebula-logger/tests/logger/classes/LogEntryBuilder_Tests.cls
Labels: bug, cleanup, enhancement

#44 Add new Log__c fields for org, community and user license details
  nebula-logger/main/logger/classes/LogEntryBuilder.cls
  nebula-logger/main/logger/classes/LogEntryEventHandler.cls
  nebula-logger/main/logger/layouts/LogEntry__c-Log Entry Layout.layout-meta.xml
  nebula-logger/main/logger/layouts/Log__c-Log Layout.layout-meta.xml
  nebula-logger/main/logger/objects/LogEntryEvent__e/LogEntryEvent__e.object-meta.xml
  nebula-logger/main/logger/objects/LogEntryEvent__e/fields/NetworkId__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntry__c/fields/OriginType__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntry__c/fields/Type__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/ContextThemeDisplayed__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/NetworkId__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/NetworkLoginUrl__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/NetworkLogoutUrl__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/NetworkName__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/NetworkSelfRegistrationUrl__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/NetworkUrlPathPrefix__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/OrganizationId__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/OrganizationName__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/Organization__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/SessionSecurityLevel__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/SystemMode__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/UserLicenseDefinitionKey__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/UserLicenseId__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/UserLicenseName__c.field-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerAdmin.permissionset-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerEndUser.permissionset-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerLogViewer.permissionset-meta.xml
  nebula-logger/tests/logger/classes/LogEntryEventHandler_Tests.cls
Labels: enhancement

#57 Added 'log retention date' field for batch purge job
  manifest/package.xml
  nebula-logger/main/logger/classes/LogBatchPurger.cls
  nebula-logger/main/logger/layouts/Log__c-Log Layout.layout-meta.xml
  nebula-logger/main/logger/objects/Log__c/Log__c.object-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/LogRetentionDate__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/Organization__c.field-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerAdmin.permissionset-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerEndUser.permissionset-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerLogViewer.permissionset-meta.xml
  nebula-logger/main/logger/quickActions/Log__c.ChangeLogRetentionDate.quickAction-meta.xml
  nebula-logger/tests/logger/classes/LogBatchPurger_Tests.cls
Labels: enhancement

#28 Quiddity, RequestId & Uuid deprecation
  .gitignore
  .travis.yml
  manifest/package.xml
  manifest/project-scratch-def.json
  nebula-logger/main/callouts/classes/Callout.cls-meta.xml
  nebula-logger/main/callouts/classes/RestApi.cls
  nebula-logger/main/callouts/classes/RestApi.cls-meta.xml
  nebula-logger/main/logger/aura/logJSONViewer/logJSONViewer.cmp-meta.xml
  nebula-logger/main/logger/aura/logger/logger.cmp-meta.xml
  nebula-logger/main/logger/classes/ComponentLogEntry.cls-meta.xml
  nebula-logger/main/logger/classes/FlowLogEntry.cls-meta.xml
  nebula-logger/main/logger/classes/FlowLogRepo.cls-meta.xml
  nebula-logger/main/logger/classes/FlowRecordLogEntry.cls-meta.xml
  nebula-logger/main/logger/classes/LogBatchPurger.cls-meta.xml
  nebula-logger/main/logger/classes/LogEntryBuilder.cls
  nebula-logger/main/logger/classes/LogEntryBuilder.cls-meta.xml
  nebula-logger/main/logger/classes/LogEntryEventHandler.cls
  nebula-logger/main/logger/classes/LogEntryEventHandler.cls-meta.xml
  nebula-logger/main/logger/classes/LogEntryHandler.cls-meta.xml
  nebula-logger/main/logger/classes/LogMessage.cls-meta.xml
  nebula-logger/main/logger/classes/Logger.cls
  nebula-logger/main/logger/classes/Logger.cls-meta.xml
  nebula-logger/main/logger/flexipages/LogEntryRecordPage.flexipage-meta.xml
  nebula-logger/main/logger/flexipages/LogRecordPage.flexipage-meta.xml
  nebula-logger/main/logger/objects/LogEntryEvent__e/fields/ProfileName__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntryEvent__e/fields/SessionId__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntryEvent__e/fields/UserRoleName__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntry__c/fields/HasException__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/ApiVersion__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/SessionId__c.field-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerAdmin.permissionset-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerEndUser.permissionset-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerLogViewer.permissionset-meta.xml
  nebula-logger/main/logger/triggers/LogEntry.trigger-meta.xml
  nebula-logger/main/logger/triggers/LogEntryEvent.trigger-meta.xml
  nebula-logger/main/utilities/classes/Uuid.cls
  nebula-logger/main/utilities/classes/Uuid.cls-meta.xml
  nebula-logger/tests/callouts/classes/Callout_Tests.cls-meta.xml
  nebula-logger/tests/callouts/classes/RestApi_Tests.cls-meta.xml
  nebula-logger/tests/logger/classes/ComponentLogEntry_Tests.cls-meta.xml
  nebula-logger/tests/logger/classes/FlowLogEntry_Tests.cls-meta.xml
  nebula-logger/tests/logger/classes/FlowLogRepo_Tests.cls-meta.xml
  nebula-logger/tests/logger/classes/FlowRecordLogEntry_Tests.cls-meta.xml
  nebula-logger/tests/logger/classes/LogBatchPurger_Tests.cls-meta.xml
  nebula-logger/tests/logger/classes/LogEntryBuilder_Tests.cls-meta.xml
  nebula-logger/tests/logger/classes/LogEntryEventHandler_Tests.cls-meta.xml
  nebula-logger/tests/logger/classes/LogEntryHandler_Tests.cls-meta.xml
  nebula-logger/tests/logger/classes/LogMessage_Tests.cls-meta.xml
  nebula-logger/tests/logger/classes/Logger_Tests.cls
  nebula-logger/tests/logger/classes/Logger_Tests.cls-meta.xml
  nebula-logger/tests/utilities/classes/Uuid_Tests.cls
  nebula-logger/tests/utilities/classes/Uuid_Tests.cls-meta.xml
  scripts/test.sh
  sfdx-project.json
Labels: enhancement, winter21

#62 Updated flexipages to match latest page layout changes
  nebula-logger/main/logger/flexipages/LogEntryRecordPage.flexipage-meta.xml
  nebula-logger/main/logger/flexipages/LogRecordPage.flexipage-meta.xml
  nebula-logger/main/logger/layouts/Log__c-Log Layout.layout-meta.xml
  nebula-logger/main/logger/objects/Log__c/Log__c.object-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerAdmin.permissionset-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerEndUser.permissionset-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerLogViewer.permissionset-meta.xml
  nebula-logger/tests/logger/classes/ComponentLogEntry_Tests.cls
  nebula-logger/tests/logger/classes/FlowLogEntry_Tests.cls
  nebula-logger/tests/logger/classes/FlowLogRepo_Tests.cls
  nebula-logger/tests/logger/classes/FlowRecordLogEntry_Tests.cls
Labels: enhancement

#63 Added new organization fields on Log__c
  nebula-logger/main/logger/classes/LogEntryEventHandler.cls
  nebula-logger/main/logger/flexipages/LogRecordPage.flexipage-meta.xml
  nebula-logger/main/logger/layouts/Log__c-Log Layout.layout-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/ApiVersion__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/OrganizationDomainUrl__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/OrganizationInstanceName__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/OrganizationIsSandbox__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/OrganizationNamespacePrefix__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/OrganizationType__c.field-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerAdmin.permissionset-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerEndUser.permissionset-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerLogViewer.permissionset-meta.xml
  nebula-logger/tests/logger/classes/LogEntryEventHandler_Tests.cls
Labels: enhancement

#68 Refactored how 'related record name' is set
  nebula-logger/main/logger/classes/LogEntryBuilder.cls
  nebula-logger/main/logger/classes/LogEntryHandler.cls
  nebula-logger/main/logger/classes/Logger.cls
  nebula-logger/main/logger/flexipages/LogEntryRecordPage.flexipage-meta.xml
  nebula-logger/main/logger/layouts/LogEntry__c-Log Entry Layout.layout-meta.xml
  nebula-logger/main/logger/objects/LogEntry__c/fields/RelatedAccount__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntry__c/fields/RelatedCase__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntry__c/fields/RelatedLead__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntry__c/fields/RelatedRecordName__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntry__c/fields/RelatedUser__c.field-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerAdmin.permissionset-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerEndUser.permissionset-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerLogViewer.permissionset-meta.xml
Labels: optimization

#72 Renamed LogEntryBuilder to LogEntryEventBuilder
  manifest/managed-package.xml
  nebula-logger/main/logger/classes/FlowLogEntry.cls
  nebula-logger/main/logger/classes/FlowRecordLogEntry.cls
  nebula-logger/main/logger/classes/LogEntryEventBuilder.cls
  nebula-logger/main/logger/classes/LogEntryEventBuilder.cls-meta.xml
  nebula-logger/main/logger/classes/Logger.cls
  nebula-logger/main/logger/objects/LoggerSettings__c/fields/EnableSystemMessages__c.field-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerAdmin.permissionset-meta.xml
  nebula-logger/tests/logger/classes/LogEntryEventBuilder_Tests.cls
  nebula-logger/tests/logger/classes/LogEntryEventBuilder_Tests.cls-meta.xml
  nebula-logger/tests/logger/classes/Logger_Tests.cls
Labels: cleanup

#73 System mode field is now set based on the current quiddity
  manifest/managed-package.xml
  nebula-logger/main/logger/classes/LogEntryEventBuilder.cls
  nebula-logger/main/logger/classes/LogEntryEventHandler.cls
  nebula-logger/main/logger/classes/Logger.cls
  nebula-logger/main/logger/objects/LogEntryEvent__e/fields/SystemModeIsApexRest__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntryEvent__e/fields/SystemModeIsBatch__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntryEvent__e/fields/SystemModeIsFuture__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntryEvent__e/fields/SystemModeIsScheduledJob__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntryEvent__e/fields/SystemModeIsScheduled__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntryEvent__e/fields/SystemMode__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntryEvent__e/fields/UserRoleId__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntry__c/fields/FlowName__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntry__c/fields/RelatedRecordName__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/SystemModeIsApexRest__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/SystemModeIsBatch__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/SystemModeIsFuture__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/SystemModeIsQueueable__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/SystemModeIsScheduledJob__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/SystemMode__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/listViews/AllAsynchronousLogs.listView-meta.xml
  nebula-logger/main/logger/objects/Log__c/listViews/AllBatchLogs.listView-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerAdmin.permissionset-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerEndUser.permissionset-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerLogViewer.permissionset-meta.xml
  nebula-logger/tests/logger/classes/LogEntryEventHandler_Tests.cls
Labels: cleanup, enhancement

#74 'Related record' fields renamed
  manifest/managed-package.xml
  nebula-logger/main/logger/classes/LogEntryEventBuilder.cls
  nebula-logger/main/logger/classes/LogEntryEventHandler.cls
  nebula-logger/main/logger/classes/LogEntryHandler.cls
  nebula-logger/main/logger/flexipages/LogEntryRecordPage.flexipage-meta.xml
  nebula-logger/main/logger/flexipages/LogRecordPage.flexipage-meta.xml
  nebula-logger/main/logger/layouts/LogEntry__c-Log Entry Layout.layout-meta.xml
  nebula-logger/main/logger/layouts/Log__c-Log Layout.layout-meta.xml
  nebula-logger/main/logger/objects/LogEntryEvent__e/fields/RecordId__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntryEvent__e/fields/RecordJson__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntry__c/fields/HasRecordId__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntry__c/fields/HasRecordJson__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntry__c/fields/RecordDetailedLink__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntry__c/fields/RecordId__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntry__c/fields/RecordJson__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntry__c/fields/RecordLink__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntry__c/fields/RecordName__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntry__c/fields/RecordSObjectType__c.field-meta.xml
  nebula-logger/main/logger/objects/LogEntry__c/fields/TypeWithLoggingLevel__c.field-meta.xml
  nebula-logger/main/logger/objects/Log__c/fields/TotalLogEntriesWithRecordId__c.field-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerAdmin.permissionset-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerEndUser.permissionset-meta.xml
  nebula-logger/main/logger/permissionsets/LoggerLogViewer.permissionset-meta.xml
  nebula-logger/tests/logger/classes/FlowLogEntry_Tests.cls
  nebula-logger/tests/logger/classes/FlowRecordLogEntry_Tests.cls
  nebula-logger/tests/logger/classes/LogEntryEventHandler_Tests.cls
  nebula-logger/tests/logger/classes/LogEntryHandler_Tests.cls
  nebula-logger/tests/logger/classes/Logger_Tests.cls
Labels: cleanup
