Repository jongpie/NebulaLogger, pull requests merged in 2021-09, with the labels that each got.

#192 Configurable Apex Debug Log syntax via Logger Settings
  README.md
  nebula-logger/main/logger-engine/classes/LogEntryEventBuilder.cls
  nebula-logger/main/logger-engine/classes/Logger.cls
  nebula-logger/main/logger-engine/objects/LoggerSettings__c/fields/SystemLogMessageFormat__c.field-meta.xml
  nebula-logger/tests/logger-engine/classes/LogEntryEventBuilder_Tests.cls
  package.json
  sfdx-project.json
Labels: enhancement, settings, logger engine

#201 Added static code analysis / PMD
  .github/workflows/deploy.yml
  config/pmd-ruleset.xml
  extra-tests/classes/ExampleInboundEmailHandler.cls
  extra-tests/tests/Logger_Tests_InboundEmailHandler.cls
  nebula-logger-plugins/Slack/classes/SlackLoggerPlugin.cls
  nebula-logger-recipes/main/default/classes/ExampleInboundEmailHandler.cls
  nebula-logger-recipes/tests/Logger_Tests_InboundEmailHandler.cls
  nebula-logger/main/log-management/classes/LogEntryEventHandler.cls
  nebula-logger/main/log-management/classes/LogEntryHandler.cls
  nebula-logger/main/log-management/classes/LogHandler.cls
  nebula-logger/main/log-management/classes/LogMassDeleteExtension.cls
  nebula-logger/main/log-management/classes/LoggerSObjectHandler.cls
  nebula-logger/main/log-management/classes/RelatedLogEntriesController.cls
  nebula-logger/main/logger-engine/classes/ComponentLogger.cls
  nebula-logger/main/logger-engine/classes/LogEntryEventBuilder.cls
  nebula-logger/main/logger-engine/classes/Logger.cls
  nebula-logger/main/plugin-framework/classes/LoggerParameter.cls
  nebula-logger/tests/log-management/classes/LogEntryEventHandler_Tests.cls
  nebula-logger/tests/log-management/classes/LogMassDeleteExtension_Tests.cls
  nebula-logger/tests/log-management/classes/RelatedLogEntriesController_Tests.cls
  nebula-logger/tests/logger-engine/classes/LogEntryEventBuilder_Tests.cls
  nebula-logger/tests/logger-engine/classes/Logger_Tests.cls
  package.json
Labels: cleanup, devops

#191 New 'Log Entry Event Stream' tab & lwc
  .eslintrc.json
  .forceignore
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/workflows/deploy.yml
  .gitignore
  .husky/pre-commit
  README.md
  content/btn-install-unlocked-package.png
  content/log-entry-event-stream.png
  docs/index.md
  docs/log-management/LogBatchPurger.md
  docs/log-management/LogEntryHandler.md
  docs/log-management/LogHandler.md
  docs/log-management/LogMassDeleteExtension.md
  docs/log-management/LoggerSObjectHandler.md
  docs/logger-engine/ComponentLogger.md
  docs/logger-engine/FlowCollectionLogEntry.md
  docs/logger-engine/FlowLogEntry.md
  docs/logger-engine/FlowRecordLogEntry.md
  docs/logger-engine/LogEntryEventBuilder.md
  docs/logger-engine/LogMessage.md
  docs/logger-engine/Logger.md
  docs/plugin-framework/LoggerParameter.md
  docs/plugin-framework/LoggerSObjectHandlerPlugin.md
  extra-tests/tests/Logger_Tests_ExperienceSite.cls
  jest.config.js
  nebula-logger-recipes/main/default/profiles/Admin.profile-meta.xml
  nebula-logger/main/log-management/applications/LoggerConsole.app-meta.xml
  nebula-logger/main/log-management/lwc/logEntryEventStream/__tests__/logEntryEventStream.test.js
  nebula-logger/main/log-management/lwc/logEntryEventStream/logEntryEventStream.css
  nebula-logger/main/log-management/lwc/logEntryEventStream/logEntryEventStream.html
  nebula-logger/main/log-management/lwc/logEntryEventStream/logEntryEventStream.js
  nebula-logger/main/log-management/lwc/logEntryEventStream/logEntryEventStream.js-meta.xml
  nebula-logger/main/log-management/permissionsets/LoggerAdmin.permissionset-meta.xml
  nebula-logger/main/log-management/permissionsets/LoggerLogViewer.permissionset-meta.xml
  nebula-logger/main/log-management/tabs/LogEntryEventStream.tab-meta.xml
  nebula-logger/main/logger-engine/classes/Logger.cls
  nebula-logger/tests/common/classes/LoggerTestUtils.cls
  nebula-logger/tests/common/classes/LoggerTestUtils.cls-meta.xml
  nebula-logger/tests/common/jest-mocks/lightning/empApi.js
  nebula-logger/tests/log-management/classes/LogEntryHandler_Tests.cls
  nebula-logger/tests/logger-engine/classes/Logger_Tests.cls
  package-lock.json
  package.json
  scripts/create-and-install-unvalidated-package-version.ps1
  scripts/delete-unvalidated-package-version.ps1
  scripts/generate-docs.ps1
  scripts/install-latest-released-unlocked-package-version.ps1
  sfdx-project.json
Labels: enhancement, log management, platform events

#215 Updated Apex classes to be more PMD friendly by adding missing JavaDoc and missing JavaDoc parameters
  extra-tests/classes/ExampleInboundEmailHandler.cls
  extra-tests/tests/LogEntryEventBuilder_IntegrationTests.cls
  extra-tests/tests/LogEntryHandler_Tests_Flow.cls
  extra-tests/tests/LogHandler_Tests_Flow.cls
  extra-tests/tests/Logger_Tests_ExperienceSite.cls
  extra-tests/tests/Logger_Tests_InboundEmailHandler.cls
  extra-tests/tests/Logger_Tests_MergeResult.cls
  nebula-logger-plugins/Slack/classes/SlackLoggerPlugin.cls
  nebula-logger-plugins/Slack/classes/SlackLoggerPlugin_Tests.cls
  nebula-logger-recipes/main/default/classes/Account_Batch_Logger_Example.cls
  nebula-logger-recipes/main/default/classes/Account_Queueable_Logger_Example.cls
  nebula-logger-recipes/main/default/classes/ExampleClassWithLogging.cls
  nebula-logger-recipes/main/default/classes/ExampleInboundEmailHandler.cls
  nebula-logger-recipes/main/default/triggers/Account_Trigger_Logger_Example.trigger
  nebula-logger-recipes/tests/LogEntryHandler_Tests_Flow.cls
  nebula-logger-recipes/tests/LogHandler_Tests_Flow.cls
  nebula-logger-recipes/tests/Logger_Tests_ExperienceSite.cls
  nebula-logger-recipes/tests/Logger_Tests_InboundEmailHandler.cls
  nebula-logger-recipes/tests/Logger_Tests_MergeResult.cls
  nebula-logger/main/log-management/classes/LogBatchPurgeScheduler.cls
  nebula-logger/main/log-management/classes/LogBatchPurger.cls
  nebula-logger/main/log-management/classes/LogEntryEventHandler.cls
  nebula-logger/main/log-management/classes/LogEntryFieldSetPicklist.cls
  nebula-logger/main/log-management/classes/LogEntryHandler.cls
  nebula-logger/main/log-management/classes/LogMassDeleteExtension.cls
  nebula-logger/main/log-management/classes/LoggerSObjectHandler.cls
  nebula-logger/main/log-management/classes/RelatedLogEntriesController.cls
  nebula-logger/main/log-management/lwc/relatedLogEntries/__tests__/relatedLogEntries.test.js
  nebula-logger/main/logger-engine/classes/ComponentLogger.cls
  nebula-logger/main/logger-engine/classes/FlowCollectionLogEntry.cls
  nebula-logger/main/logger-engine/classes/FlowLogEntry.cls
  nebula-logger/main/logger-engine/classes/FlowLogger.cls
  nebula-logger/main/logger-engine/classes/FlowRecordLogEntry.cls
  nebula-logger/main/logger-engine/classes/LogEntryEventBuilder.cls
  nebula-logger/main/logger-engine/classes/LogMessage.cls
  nebula-logger/main/logger-engine/classes/Logger.cls
  nebula-logger/main/plugin-framework/classes/LoggerParameter.cls
  nebula-logger/main/plugin-framework/classes/LoggerSObjectHandlerPlugin.cls
  nebulaLoggerScannerResults.csv
  package-lock.json
  package.json
  sfdx-project.json
Labels: documentation
