Repository jongpie/NebulaLogger, pull requests merged in 2022-06, with the labels that each got.

#323 Added support for logging Apex errors in LWC/Aura logging
  README.md
  docs/lightning-components/LogEntryBuilder.md
  nebula-logger/core/main/log-management/lwc/logViewer/__tests__/logViewer.test.js
  nebula-logger/core/main/log-management/lwc/relatedLogEntries/__tests__/relatedLogEntries.test.js
  nebula-logger/core/main/logger-engine/classes/ComponentLogger.cls
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/__tests__/logger.test.js
  nebula-logger/core/main/logger-engine/lwc/logger/logEntryBuilder.js
  nebula-logger/core/tests/logger-engine/classes/ComponentLogger_Tests.cls
  nebula-logger/recipes/classes/LoggerLWCDemoController.cls
  nebula-logger/recipes/classes/LoggerLWCDemoController.cls-meta.xml
  nebula-logger/recipes/lwc/loggerLWCDemo/loggerLWCDemo.html
  nebula-logger/recipes/lwc/loggerLWCDemo/loggerLWCDemo.js
  nebula-logger/recipes/profiles/Admin.profile-meta.xml
  package.json
  sfdx-project.json
Labels: enhancement, lightning components, logger engine

#327 Bugfix for Logger.setScenario()
  .forceignore
  README.md
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/tests/logger-engine/classes/Logger_Tests.cls
  package.json
  sfdx-project.json
Labels: bug, logger engine, scenarios

#320 Enhancement to manually run LogBatchPurger via a button click
  .husky/pre-commit
  README.md
  nebula-logger/core/main/log-management/classes/LogBatchPurgeController.cls
  nebula-logger/core/main/log-management/classes/LogBatchPurgeController.cls-meta.xml
  nebula-logger/core/main/log-management/classes/LogBatchPurgeController_Tests.cls
  nebula-logger/core/main/log-management/classes/LogBatchPurgeController_Tests.cls-meta.xml
  nebula-logger/core/main/log-management/customPermissions/CanExecuteLogBatchPurger.customPermission-meta.xml
  nebula-logger/core/main/log-management/lwc/logBatchPurge/__tests__/data/getLogMetrics.ThisMonth.json
  nebula-logger/core/main/log-management/lwc/logBatchPurge/__tests__/data/getLogMetrics.Today.json
  nebula-logger/core/main/log-management/lwc/logBatchPurge/__tests__/data/getLogMetrics.noLogRecords.json
  nebula-logger/core/main/log-management/lwc/logBatchPurge/__tests__/data/getPurgeActionOptions.json
  nebula-logger/core/main/log-management/lwc/logBatchPurge/__tests__/data/getPurgeBatchJobRecords.json
  nebula-logger/core/main/log-management/lwc/logBatchPurge/__tests__/data/getSchemaForName.log.json
  nebula-logger/core/main/log-management/lwc/logBatchPurge/__tests__/data/getSchemaForName.logEntry.json
  nebula-logger/core/main/log-management/lwc/logBatchPurge/__tests__/data/getSchemaForName.logEntryTag.json
  nebula-logger/core/main/log-management/lwc/logBatchPurge/__tests__/data/getlogMetrics.ThisWeek.json
  nebula-logger/core/main/log-management/lwc/logBatchPurge/__tests__/data/runPurgeBatch.json
  nebula-logger/core/main/log-management/lwc/logBatchPurge/__tests__/logBatchPurge.test.js
  nebula-logger/core/main/log-management/lwc/logBatchPurge/logBatchPurge.css
  nebula-logger/core/main/log-management/lwc/logBatchPurge/logBatchPurge.html
  nebula-logger/core/main/log-management/lwc/logBatchPurge/logBatchPurge.js
  nebula-logger/core/main/log-management/lwc/logBatchPurge/logBatchPurge.js-meta.xml
  nebula-logger/core/main/log-management/objects/Log__c/Log__c.object-meta.xml
  nebula-logger/core/main/log-management/objects/Log__c/webLinks/BatchPurge.webLink-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerAdmin.permissionset-meta.xml
  nebula-logger/core/main/log-management/tabs/LogBatchPurge.tab-meta.xml
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  package-lock.json
  package.json
Labels: enhancement, log management, log retention

#333 Fix Slack Plugin URLs
  README.md
Labels: documentation, cleanup
