Repository jongpie/NebulaLogger, pull requests merged in 2022-11, with the labels that each got.

#404 run "npm run prettier:fix"
  .github/workflows/fetch-repo-stats.yml
Labels: tech-debt

#407 Track when an admin user logs in as another user
  .github/workflows/build.yml
  README.md
  config/scratch-orgs/base-scratch-def.json
  config/scratch-orgs/experience-cloud-scratch-def.json
  docs/apex/Logger-Engine/LoggerEngineDataSelector.md
  docs/apex/Logger-Engine/LoggerSObjectProxy.md
  docs/apex/index.md
  nebula-logger/core/main/log-management/classes/LogEntryEventHandler.cls
  nebula-logger/core/main/log-management/classes/LogEntryHandler.cls
  nebula-logger/core/main/log-management/flexipages/LogRecordPage.flexipage-meta.xml
  nebula-logger/core/main/log-management/objects/Log__c/fields/ImpersonatedByUsernameLink__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/Log__c/fields/ImpersonatedBy__c.field-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerAdmin.permissionset-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerEndUser.permissionset-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerLogViewer.permissionset-meta.xml
  nebula-logger/core/main/logger-engine/classes/LogEntryEventBuilder.cls
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/classes/LoggerEngineDataSelector.cls
  nebula-logger/core/main/logger-engine/classes/LoggerSObjectProxy.cls
  nebula-logger/core/main/logger-engine/classes/LoggerSObjectProxy.cls-meta.xml
  nebula-logger/core/main/logger-engine/objects/LogEntryEvent__e/fields/ImpersonatedById__c.field-meta.xml
  nebula-logger/core/tests/LoggerCore.testSuite-meta.xml
  nebula-logger/core/tests/log-management/classes/LogBatchPurgeScheduler_Tests.cls
  nebula-logger/core/tests/log-management/classes/LogEntryEventHandler_Tests.cls
  nebula-logger/core/tests/log-management/classes/LogEntryHandler_Tests.cls
  nebula-logger/core/tests/logger-engine/classes/LogEntryEventBuilder_Tests.cls
  nebula-logger/core/tests/logger-engine/classes/LoggerEngineDataSelector_Tests.cls
  nebula-logger/core/tests/logger-engine/classes/LoggerSObjectProxy_Tests.cls
  nebula-logger/core/tests/logger-engine/classes/LoggerSObjectProxy_Tests.cls-meta.xml
  nebula-logger/extra-tests/tests/LoggerEngineDataSelector_Tests_Network.cls
  nebula-logger/managed-package/sfdx-project.json
  nebula-logger/unsorted/main/default/profiles/Admin.profile-meta.xml
  package-lock.json
  package.json
  sfdx-project.json
Labels: enhancement, reporting, log management, logger engine

#337 Enhancements for logEntryEventStream LWC
  .github/workflows/build.yml
  README.md
  nebula-logger/core/main/configuration/customMetadata/LoggerParameter.LogEntryEventStreamDisplayFields.md-meta.xml
  nebula-logger/core/main/log-management/classes/LogEntryEventHandler.cls
  nebula-logger/core/main/log-management/classes/LogEntryEventStreamController.cls
  nebula-logger/core/main/log-management/classes/LogEntryEventStreamController.cls-meta.xml
  nebula-logger/core/main/log-management/lwc/logBatchPurge/__tests__/logBatchPurge.test.js
  nebula-logger/core/main/log-management/lwc/logEntryEventStream/__tests__/data/getDatatableDisplayFields.json
  nebula-logger/core/main/log-management/lwc/logEntryEventStream/__tests__/logEntryEventStream.test.js
  nebula-logger/core/main/log-management/lwc/logEntryEventStream/logEntryEventStream.css
  nebula-logger/core/main/log-management/lwc/logEntryEventStream/logEntryEventStream.html
  nebula-logger/core/main/log-management/lwc/logEntryEventStream/logEntryEventStream.js
  nebula-logger/core/main/log-management/permissionsets/LoggerAdmin.permissionset-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerLogViewer.permissionset-meta.xml
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/tests/log-management/classes/LogEntryEventStreamController_Tests.cls
  nebula-logger/core/tests/log-management/classes/LogEntryEventStreamController_Tests.cls-meta.xml
  package.json
  sfdx-project.json
Labels: enhancement, configurations, log management, platform events

#408 New indicator icons
  .github/workflows/build.yml
  README.md
  nebula-logger/core/main/log-management/objects/LogEntry__c/fields/LimitsAggregateQueries__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/LogEntry__c/fields/LimitsAsyncCalls__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/LogEntry__c/fields/LimitsCallouts__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/LogEntry__c/fields/LimitsCpuTime__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/LogEntry__c/fields/LimitsDmlRows__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/LogEntry__c/fields/LimitsDmlStatements__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/LogEntry__c/fields/LimitsEmailInvocations__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/LogEntry__c/fields/LimitsFutureCalls__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/LogEntry__c/fields/LimitsHeapSize__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/LogEntry__c/fields/LimitsMobilePushApexCalls__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/LogEntry__c/fields/LimitsPublishImmediateDmlStatements__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/LogEntry__c/fields/LimitsQueueableJobs__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/LogEntry__c/fields/LimitsSoqlQueries__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/LogEntry__c/fields/LimitsSoqlQueryLocatorRows__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/LogEntry__c/fields/LimitsSoqlQueryRows__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/LogEntry__c/fields/LimitsSoslSearches__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/LogEntry__c/fields/LoggingLevelWithImage__c.field-meta.xml
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  package.json
  sfdx-project.json
Labels: enhancement, log management

#415 Configurable Platform Cache partition name
  .github/codecov.yml
  README.md
  docs/apex/Configuration/LoggerParameter.md
  nebula-logger/core/main/configuration/classes/LoggerCache.cls
  nebula-logger/core/main/configuration/classes/LoggerParameter.cls
  nebula-logger/core/main/configuration/customMetadata/LoggerParameter.PlatformCachePartitionName.md-meta.xml
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/tests/configuration/classes/LoggerCache_Tests.cls
  nebula-logger/core/tests/configuration/classes/LoggerParameter_Tests.cls
  nebula-logger/extra-tests/tests/LoggerCache_Tests_PlatformCache.cls
  package.json
  sfdx-project.json
Labels: enhancement, configurations, platform cache

#417 Updated Logger.getUserSettings() to set defaults based on the environment type
  .github/workflows/build.yml
  README.md
  nebula-logger/core/main/configuration/objects/LoggerSettings__c/fields/IsApexSystemDebugLoggingEnabled__c.field-meta.xml
  nebula-logger/core/main/configuration/objects/LoggerSettings__c/fields/IsJavaScriptConsoleLoggingEnabled__c.field-meta.xml
  nebula-logger/core/main/configuration/objects/LoggerSettings__c/fields/LoggingLevel__c.field-meta.xml
  nebula-logger/core/main/log-management/classes/LogBatchPurgeController.cls
  nebula-logger/core/main/log-management/classes/LoggerSettingsController.cls
  nebula-logger/core/main/logger-engine/classes/LogEntryEventBuilder.cls
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/classes/LoggerEngineDataSelector.cls
  nebula-logger/core/tests/log-management/classes/LogBatchPurgeController_Tests.cls
  nebula-logger/core/tests/log-management/classes/LoggerSettingsController_Tests.cls
  nebula-logger/core/tests/logger-engine/classes/LogEntryEventBuilder_Tests.cls
  nebula-logger/core/tests/logger-engine/classes/Logger_Tests.cls
  nebula-logger/extra-tests/classes/ExampleInboundEmailHandler.cls
  nebula-logger/extra-tests/classes/FeatureManagement.cls
  nebula-logger/extra-tests/classes/FeatureManagement.cls-meta.xml
  nebula-logger/extra-tests/tests/LoggerSettingsController_Tests_Security.cls
  package.json
  sfdx-project.json
Labels: enhancement, tech-debt, cleanup, configurations, logger engine

#418 Added new field Log__c.HasComments__c
  README.md
  nebula-logger/core/main/log-management/classes/LogHandler.cls
  nebula-logger/core/main/log-management/objects/Log__c/fields/HasComments__c.field-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerAdmin.permissionset-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerLogViewer.permissionset-meta.xml
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/tests/log-management/classes/LogHandler_Tests.cls
  package.json
  sfdx-project.json
Labels: enhancement, reporting, log management
