Repository jongpie/NebulaLogger, pull requests merged in 2023-09, with the labels that each got.

#548 Bugfix for unhandled exception when email limits are reached
  README.md
  nebula-logger/core/main/log-management/classes/LoggerEmailSender.cls
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/logger.js
  nebula-logger/core/tests/log-management/classes/LoggerEmailSender_Tests.cls
  package.json
  sfdx-project.json
Labels: bug, log management

#553 Added custom index for Log__c.LogRetentionDate__c
  README.md
  nebula-logger/core/main/log-management/customindex/Log__c.LogRetentionDate__c.indx-meta.xml
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/logger.js
  package.json
  sfdx-project.json
Labels: enhancement, optimization, log management, log retention

#557 New method + overloads Logger.setAsyncContext()
  .github/workflows/build.yml
  README.md
  docs/apex/Logger-Engine/Logger.md
  docs/apex/Test-Utilities/LoggerMockDataCreator.md
  nebula-logger/core/main/log-management/classes/LogBatchPurgeScheduler.cls
  nebula-logger/core/main/log-management/classes/LogBatchPurger.cls
  nebula-logger/core/main/log-management/classes/LogEntryEventHandler.cls
  nebula-logger/core/main/log-management/flexipages/LogRecordPage.flexipage-meta.xml
  nebula-logger/core/main/log-management/objects/Log__c/fields/AsyncContextChildJobId__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/Log__c/fields/AsyncContextParentJobId__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/Log__c/fields/AsyncContextTriggerId__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/Log__c/fields/AsyncContextType__c.field-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerAdmin.permissionset-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerEndUser.permissionset-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerLogViewer.permissionset-meta.xml
  nebula-logger/core/main/logger-engine/classes/LogEntryEventBuilder.cls
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/logger.js
  nebula-logger/core/main/logger-engine/objects/LogEntryEvent__e/fields/AsyncContextChildJobId__c.field-meta.xml
  nebula-logger/core/main/logger-engine/objects/LogEntryEvent__e/fields/AsyncContextParentJobId__c.field-meta.xml
  nebula-logger/core/main/logger-engine/objects/LogEntryEvent__e/fields/AsyncContextTriggerId__c.field-meta.xml
  nebula-logger/core/main/logger-engine/objects/LogEntryEvent__e/fields/AsyncContextType__c.field-meta.xml
  nebula-logger/core/tests/configuration/utilities/LoggerMockDataCreator.cls
  nebula-logger/core/tests/log-management/classes/LogBatchPurger_Tests.cls
  nebula-logger/core/tests/log-management/classes/LogEntryEventHandler_Tests.cls
  nebula-logger/core/tests/log-management/classes/LoggerBatchableContext_Tests.cls
  nebula-logger/core/tests/logger-engine/classes/Logger_Tests.cls
  nebula-logger/extra-tests/tests/LogBatchPurger_Tests_Flow.cls
  nebula-logger/plugins/async-failure-additions/plugin/classes/LogFinalizer.cls
  package-lock.json
  package.json
  sfdx-project.json
Labels: enhancement, reporting, log management, logger engine
