Repository jongpie/NebulaLogger, pull requests merged in 2023-10, with the labels that each got.

#539 Bugfix 526 LogEntryTags__c not being save with SYNCHRONOUS_DML save method
  README.md
  nebula-logger/core/main/log-management/classes/LogEntryEventHandler.cls
  nebula-logger/core/main/log-management/flexipages/LogEntryRecordPage.flexipage-meta.xml
  nebula-logger/core/main/log-management/objects/LogEntry__c/fields/UniqueId__c.field-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerAdmin.permissionset-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerEndUser.permissionset-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerLogViewer.permissionset-meta.xml
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/logger.js
  nebula-logger/core/tests/log-management/classes/LogEntryEventHandler_Tests.cls
  package.json
  sfdx-project.json
Labels: bug, tags, log management

#567 feat: create new field to display LoggedByUsername without html text
  README.md
  nebula-logger/core/main/log-management/objects/LogEntry__c/fields/LoggedByUsernameText__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/Log__c/fields/LoggedByUsernameText__c.field-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerAdmin.permissionset-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerEndUser.permissionset-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerLogViewer.permissionset-meta.xml
  nebula-logger/core/main/log-management/reports/LogReports/LogEntrySummary.report-meta.xml
  sfdx-project.json
Labels: bug, reporting, log management, Logger Admin Dashboard plugin

#569 Dynamic field visibility for LogEntry__c HTTP response header fields
  README.md
  nebula-logger/core/main/log-management/classes/LogEntryHandler.cls
  nebula-logger/core/main/log-management/flexipages/LogEntryRecordPage.flexipage-meta.xml
  nebula-logger/core/main/log-management/objects/LogEntry__c/fields/HasDatabaseResultJson__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/LogEntry__c/fields/HasHttpRequestBody__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/LogEntry__c/fields/HasHttpResponseBody__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/LogEntry__c/fields/HasHttpResponseHeaderKeys__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/LogEntry__c/fields/HasHttpResponseHeaders__c.field-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerAdmin.permissionset-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerEndUser.permissionset-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerLogViewer.permissionset-meta.xml
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/logger.js
  nebula-logger/core/tests/log-management/classes/LogEntryHandler_Tests.cls
  package.json
  sfdx-project.json
Labels: enhancement, reporting, log management

#570 Reduced SingleEmailMessage limit usage
  .github/workflows/build.yml
  README.md
  nebula-logger/core/main/log-management/classes/LoggerEmailSender.cls
  nebula-logger/core/main/logger-engine/classes/LogEntryEventBuilder.cls
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/logger.js
  nebula-logger/core/tests/log-management/classes/LoggerEmailSender_Tests.cls
  package.json
  sfdx-project.json
  supplemental-metadata/main/SF-Compliance-Metadata-Auditor/customMetadata/Data_Classification.default.md-meta.xml
Labels: bug, logger engine, email notifications

#577 Properly handle logs created and saved through createLogger in pre-mounted instances
  README.md
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/logEntryBuilder.js
  nebula-logger/core/main/logger-engine/lwc/logger/logger.js
  nebula-logger/core/main/logger-engine/lwc/logger/loggerService.js
  nebula-logger/recipes/lwc/loggerLWCDemo/__tests__/loggerLWCDemo.test.js
  nebula-logger/recipes/lwc/loggerLWCDemo/loggerLWCDemo.js
  package.json
  sfdx-project.json
Labels: bug, lightning components, logger engine
