Repository jongpie/NebulaLogger, pull requests merged in 2024-03, with the labels that each got.

#646 Track OrgLimits data on Log__c
  README.md
  docs/apex/Configuration/LoggerParameter.md
  docs/apex/Log-Management/LogHandler.md
  nebula-logger/core/main/configuration/classes/LoggerParameter.cls
  nebula-logger/core/main/configuration/customMetadata/LoggerParameter.StoreOrganizationLimits.md-meta.xml
  nebula-logger/core/main/configuration/customMetadata/LoggerParameter.StoreTransactionLimits.md-meta.xml
  nebula-logger/core/main/log-management/classes/LogHandler.cls
  nebula-logger/core/main/log-management/flexipages/LogRecordPage.flexipage-meta.xml
  nebula-logger/core/main/log-management/lwc/logOrganizationLimits/__tests__/data/getRecord.json
  nebula-logger/core/main/log-management/lwc/logOrganizationLimits/__tests__/logOrganizationLimits.test.js
  nebula-logger/core/main/log-management/lwc/logOrganizationLimits/logOrganizationLimits.html
  nebula-logger/core/main/log-management/lwc/logOrganizationLimits/logOrganizationLimits.js
  nebula-logger/core/main/log-management/lwc/logOrganizationLimits/logOrganizationLimits.js-meta.xml
  nebula-logger/core/main/log-management/lwc/loggerPageSection/loggerPageSection.html
  nebula-logger/core/main/log-management/objects/Log__c/fields/HasOrganizationLimits__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/Log__c/fields/OrganizationLimits__c.field-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerAdmin.permissionset-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerEndUser.permissionset-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerLogViewer.permissionset-meta.xml
  nebula-logger/core/main/logger-engine/classes/LogEntryEventBuilder.cls
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/logEntryBuilder.js
  nebula-logger/core/tests/configuration/classes/LoggerParameter_Tests.cls
  nebula-logger/core/tests/log-management/classes/LogHandler_Tests.cls
  nebula-logger/core/tests/logger-engine/classes/LogEntryEventBuilder_Tests.cls
  package.json
  sfdx-project.json
Labels: enhancement, log management

#648 Optionally enforce scenario-based logging usage
  README.md
  config/linters/lint-staged.config.js
  docs/apex/Configuration/LoggerParameter.md
  docs/apex/Logger-Engine/Logger.md
  nebula-logger/core/main/configuration/classes/LoggerParameter.cls
  nebula-logger/core/main/configuration/customMetadata/LoggerParameter.RequireScenarioUsage.md-meta.xml
  nebula-logger/core/main/log-management/flexipages/LoggerScenarioRecordPage.flexipage-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerAdmin.permissionset-meta.xml
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/logEntryBuilder.js
  nebula-logger/core/tests/configuration/classes/LoggerParameter_Tests.cls
  nebula-logger/core/tests/logger-engine/classes/Logger_Tests.cls
  package.json
  scripts/build/tail-log-to-file.sh
  sfdx-project.json
Labels: enhancement, configurations, logger engine, scenario-based logging

#660 Logger Performance Improvements
  README.md
  nebula-logger/core/main/configuration/classes/LoggerCache.cls
  nebula-logger/core/main/configuration/classes/LoggerParameter.cls
  nebula-logger/core/main/configuration/customMetadata/LoggerParameter.StoreHeapSizeLimit.md-meta.xml
  nebula-logger/core/main/log-management/classes/LogBatchPurger.cls
  nebula-logger/core/main/log-management/classes/LoggerEmailSender.cls
  nebula-logger/core/main/log-management/classes/LoggerSettingsController.cls
  nebula-logger/core/main/logger-engine/classes/ComponentLogger.cls
  nebula-logger/core/main/logger-engine/classes/FlowLogger.cls
  nebula-logger/core/main/logger-engine/classes/LogEntryEventBuilder.cls
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/classes/LoggerDataStore.cls
  nebula-logger/core/main/logger-engine/classes/LoggerStackTrace.cls
  nebula-logger/core/main/logger-engine/lwc/logger/logEntryBuilder.js
  nebula-logger/core/tests/configuration/utilities/LoggerMockDataCreator.cls
  nebula-logger/core/tests/logger-engine/classes/LogEntryEventBuilder_Tests.cls
  nebula-logger/core/tests/logger-engine/classes/LoggerDataStore_Tests.cls
  nebula-logger/core/tests/logger-engine/classes/Logger_Tests.cls
  nebula-logger/core/tests/logger-engine/utilities/LoggerMockDataStore.cls
  nebula-logger/extra-tests/tests/LogEntryEventBuilder_Tests_Network.cls
  nebula-logger/extra-tests/tests/LogEntryEventBuilder_Tests_Security.cls
  nebula-logger/extra-tests/tests/LoggerBenchmarking_Tests.cls
  nebula-logger/extra-tests/tests/LoggerBenchmarking_Tests.cls-meta.xml
  nebula-logger/extra-tests/tests/Logger_Tests_MergeResult.cls
  nebula-logger/plugins/log-retention-rules/plugin/classes/LogRetentionFilter.cls
  package.json
  scripts/data/create-sample-log-entries.apex
  sfdx-project.json
Labels: optimization, logger engine
