Repository jongpie/NebulaLogger, pull requests merged in 2024-04, with the labels that each got.

#659 View Log Entry Metadata custom permission
  README.md
  nebula-logger/core/main/log-management/classes/LogEntryMetadataViewerController.cls
  nebula-logger/core/main/log-management/customPermissions/CanViewLogEntryMetadata.customPermission-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerAdmin.permissionset-meta.xml
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/logEntryBuilder.js
  nebula-logger/core/tests/log-management/classes/LogEntryHandler_Tests.cls
  nebula-logger/core/tests/log-management/classes/LogEntryMetadataViewerController_Tests.cls
  nebula-logger/extra-tests/tests/LogEntryMetadataViwrCtlr_Tests_Security.cls
  nebula-logger/extra-tests/tests/LogEntryMetadataViwrCtlr_Tests_Security.cls-meta.xml
  package.json
  sfdx-project.json
Labels: enhancement, apex, configurations, log management, security

#667 Refactor logEntryBuilder.js and loggerService.js to use setScenario()…
  README.md
  docs/lightning-components/LogEntryBuilder.md
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/__tests__/logger.test.js
  nebula-logger/core/main/logger-engine/lwc/logger/logEntryBuilder.js
  nebula-logger/core/main/logger-engine/lwc/logger/loggerService.js
  package.json
  sfdx-project.json
Labels: bug, lightning components, logger engine, scenario-based logging

#671 Fixed logEntryMetadataViewer 'View Full Source' button not showing for non-admins
  README.md
  nebula-logger/core/main/log-management/lwc/logEntryMetadataViewer/logEntryMetadataViewer.html
  nebula-logger/core/main/log-management/lwc/logEntryMetadataViewer/logEntryMetadataViewer.js
  nebula-logger/core/main/log-management/permissionsets/LoggerAdmin.permissionset-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerEndUser.permissionset-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerLogViewer.permissionset-meta.xml
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/logEntryBuilder.js
  package.json
  sfdx-project.json
Labels: bug, log management

#672 Add log level emoji's to DEBUG, FINE, FINER, FINEST
  README.md
  nebula-logger/core/main/log-management/objects/LogEntry__c/fields/LoggingLevelWithImage__c.field-meta.xml
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/logEntryBuilder.js
  package.json
  sfdx-project.json
Labels: enhancement, log management

#679 Bugfix: session data is not populated when logging in LWC
  README.md
  nebula-logger/core/main/log-management/classes/LogEntryEventHandler.cls
  nebula-logger/core/main/log-management/flexipages/LogRecordPage.flexipage-meta.xml
  nebula-logger/core/main/log-management/objects/Log__c/fields/ParentSessionId__c.field-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerAdmin.permissionset-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerEndUser.permissionset-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerLogViewer.permissionset-meta.xml
  nebula-logger/core/main/logger-engine/classes/LogEntryEventBuilder.cls
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/classes/LoggerEngineDataSelector.cls
  nebula-logger/core/main/logger-engine/classes/LoggerSObjectProxy.cls
  nebula-logger/core/main/logger-engine/lwc/logger/logEntryBuilder.js
  nebula-logger/core/main/logger-engine/objects/LogEntryEvent__e/fields/ParentSessionId__c.field-meta.xml
  nebula-logger/core/tests/log-management/classes/LogEntryEventHandler_Tests.cls
  nebula-logger/core/tests/logger-engine/classes/LogEntryEventBuilder_Tests.cls
  nebula-logger/core/tests/logger-engine/classes/LoggerEngineDataSelector_Tests.cls
  nebula-logger/core/tests/logger-engine/classes/LoggerSObjectProxy_Tests.cls
  package.json
  sfdx-project.json
Labels: bug, lightning components, logger engine

#682 Added tracking of logging user's federation identifier
  .github/workflows/build.yml
  .prettierrc
  README.md
  nebula-logger/core/main/log-management/classes/LogEntryEventHandler.cls
  nebula-logger/core/main/log-management/classes/LogHandler.cls
  nebula-logger/core/main/log-management/flexipages/LogRecordPage.flexipage-meta.xml
  nebula-logger/core/main/log-management/objects/Log__c/fields/HasLoggedByFederationIdentifier__c.field-meta.xml
  nebula-logger/core/main/log-management/objects/Log__c/fields/LoggedByFederationIdentifier__c.field-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerAdmin.permissionset-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerEndUser.permissionset-meta.xml
  nebula-logger/core/main/log-management/permissionsets/LoggerLogViewer.permissionset-meta.xml
  nebula-logger/core/main/logger-engine/classes/LogEntryEventBuilder.cls
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/classes/LoggerEngineDataSelector.cls
  nebula-logger/core/main/logger-engine/lwc/logger/logEntryBuilder.js
  nebula-logger/core/main/logger-engine/objects/LogEntryEvent__e/fields/LoggedByFederationIdentifier__c.field-meta.xml
  nebula-logger/core/tests/configuration/utilities/LoggerMockDataCreator.cls
  nebula-logger/core/tests/log-management/classes/LogEntryEventHandler_Tests.cls
  nebula-logger/core/tests/logger-engine/classes/LogEntryEventBuilder_Tests.cls
  nebula-logger/core/tests/logger-engine/classes/LoggerEngineDataSelector_Tests.cls
  nebula-logger/plugins/big-object-archiving/plugin/objects/LogEntryArchive__b/indexes/LogEntryArchiveIndex.index-meta.xml
  package-lock.json
  package.json
  scripts/build/create-scratch-org.ps1
  scripts/build/enable-debug-mode.apex
  scripts/build/get-devhub-org-details.ps1
  scripts/build/get-devhub-org-limits.ps1
  scripts/build/install-latest-released-unlocked-package-version.ps1
  scripts/build/open-devhub-org.ps1
  scripts/data/create-sample-log-entries.apex
  sfdx-project.json
Labels: enhancement, reporting, log management
