Repository jongpie/NebulaLogger, pull requests merged in 2024-10, with the labels that each got.

#772 Added new Apex method & JS function Logger.setField()
  README.md
  docs/apex/Logger-Engine/LogEntryEventBuilder.md
  docs/apex/Logger-Engine/Logger.md
  jest.config.js
  nebula-logger/core/main/logger-engine/classes/LogEntryEventBuilder.cls
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/__tests__/logger.test.js
  nebula-logger/core/main/logger-engine/lwc/logger/logger.js
  nebula-logger/core/main/logger-engine/lwc/logger/loggerService.js
  nebula-logger/core/tests/logger-engine/classes/Logger_Tests.cls
  nebula-logger/recipes/lwc/loggerLWCCreateLoggerImportDemo/__tests__/loggerLWCCreateLoggerImportDemo.test.js
  nebula-logger/recipes/lwc/loggerLWCCreateLoggerImportDemo/loggerLWCCreateLoggerImportDemo.js
  nebula-logger/recipes/lwc/loggerLWCGetLoggerImportDemo/__tests__/loggerLWCGetLoggerImportDemo.test.js
  nebula-logger/recipes/lwc/loggerLWCGetLoggerImportDemo/loggerLWCGetLoggerImportDemo.js
  package.json
  sfdx-project.json
Labels: Type: Enhancement, Salesforce Feature: Reporting, Layer: Logger Engine, Feature: Custom Field Mappings

#787 Slightly tweaks async context to account for additional finalizer fields
  README.md
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/loggerService.js
  nebula-logger/core/tests/configuration/utilities/LoggerMockDataCreator.cls
  nebula-logger/core/tests/logger-engine/classes/Logger_Tests.cls
  nebula-logger/core/tests/logger-engine/utilities/LoggerMockDataStore.cls
  nebula-logger/extra-tests/classes/name-shadowing/System/ParentJobResult.cls
  nebula-logger/extra-tests/classes/name-shadowing/System/ParentJobResult.cls-meta.xml
  package.json
  sfdx-project.json
Labels: Type: Enhancement, Layer: Logger Engine

#790 CallableLogger Enhancements
  README.md
  config/scratch-orgs/omnistudio/omniScripts/demo_Logging_English_1.os-meta.xml
  docs/apex/Logger-Engine/Logger.md
  docs/apex/Test-Utilities/LoggerMockDataCreator.md
  docs/apex/Test-Utilities/LoggerMockDataStore.md
  nebula-logger/core/main/log-management/objects/Log__c/fields/ParentLogLink__c.field-meta.xml
  nebula-logger/core/main/logger-engine/classes/CallableLogger.cls
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/loggerService.js
  nebula-logger/core/tests/logger-engine/classes/CallableLogger_Tests.cls
  nebula-logger/core/tests/logger-engine/classes/Logger_Tests.cls
  package.json
  sfdx-project.json
Labels: Type: Enhancement, Layer: Logger Engine, Salesforce Feature: Callable Interface, Logging Source: OmniStudio
