Repository jongpie/NebulaLogger, pull requests merged in 2024-08, with the labels that each got.

#739 Bugfix: Jest test failures not surfaced in pipeline
  README.md
  jest.config.js
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/__tests__/logger.test.js
  nebula-logger/core/main/logger-engine/lwc/logger/logEntryBuilder.js
  nebula-logger/core/main/logger-engine/lwc/logger/loggerService.js
  package-lock.json
  package.json
  sfdx-project.json
Labels: Type: Bug, Logging Source: Lightning Components, tests, pipeline

#741 Bugfix: incorrect visibility rules for the tab "Related Record Details" on LogEntryRecordPage
  README.md
  nebula-logger/core/main/log-management/flexipages/LogEntryRecordPage.flexipage-meta.xml
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/logEntryBuilder.js
  nebula-logger/core/tests/log-management/classes/LogBatchPurgeController_Tests.cls
  package.json
  q
  sfdx-project.json
Labels: Type: Bug, Layer: Log Management

#749 Custom Field Mappings Support for Lightning Components
  README.md
  docs/apex/Logger-Engine/ComponentLogger.md
  docs/lightning-components/LogEntryBuilder.md
  nebula-logger/core/main/logger-engine/classes/ComponentLogger.cls
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/__tests__/logger.test.js
  nebula-logger/core/main/logger-engine/lwc/logger/logEntryBuilder.js
  nebula-logger/core/tests/logger-engine/classes/ComponentLogger_Tests.cls
  nebula-logger/recipes/aura/loggerAuraEmbedDemo/loggerAuraEmbedDemo.cmp
  nebula-logger/recipes/aura/loggerAuraEmbedDemo/loggerAuraEmbedDemoController.js
  nebula-logger/recipes/lwc/loggerLWCEmbedDemo/loggerLWCEmbedDemo.js
  nebula-logger/recipes/lwc/loggerLWCImportDemo/loggerLWCImportDemo.js
  nebula-logger/recipes/permissionsets/LoggerRecipesAdmin.permissionset-meta.xml
  package.json
  sfdx-project.json
Labels: Type: Enhancement, Logging Source: Lightning Components, Layer: Logger Engine, Feature: Custom Field Mappings

#751 Bugfix: overzealous data masking rule for US social security numbers
  README.md
  nebula-logger/core/main/configuration/customMetadata/LogEntryDataMaskRule.SocialSecurityNumber.md-meta.xml
  nebula-logger/core/main/logger-engine/classes/ComponentLogger.cls
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/logEntryBuilder.js
  package.json
  scripts/build/validate-custom-metadata-records.apex
  sfdx-project.json
Labels: Type: Bug, Layer: Configuration, Feature: Data Masking

#754 Update Slack Plugin Documentation for Improved Named Credentials
  nebula-logger/plugins/slack/.images/slack-plugin-external-credential.png
  nebula-logger/plugins/slack/.images/slack-plugin-named-credential.png
  nebula-logger/plugins/slack/README.md
Labels: documentation, Plugin: Slack
