Repository jongpie/NebulaLogger, pull requests merged in 2024-01, with the labels that each got.

#591 feat: LoggerEmailSender send all Database.Error fields
  README.md
  nebula-logger/core/main/log-management/classes/LoggerEmailSender.cls
  nebula-logger/core/tests/configuration/utilities/LoggerMockDataCreator.cls
  nebula-logger/core/tests/log-management/classes/LoggerEmailSender_Tests.cls
  nebula-logger/managed-package/sfdx-project.json
  sfdx-project.json
Labels: enhancement, log management, logger engine

#602 Automatically select the default field set in LWC relatedLogEntries
  .github/workflows/build.yml
  README.md
  docs/apex/Configuration/LoggerParameter.md
  docs/apex/Log-Management/LogEntryFieldSetPicklist.md
  nebula-logger/core/main/configuration/classes/LoggerParameter.cls
  nebula-logger/core/main/configuration/customMetadata/LoggerParameter.DefaultLogEntryRelatedListFieldSet.md-meta.xml
  nebula-logger/core/main/log-management/classes/LogEntryFieldSetPicklist.cls
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/logger.js
  nebula-logger/core/tests/configuration/classes/LoggerParameter_Tests.cls
  nebula-logger/core/tests/log-management/classes/LogEntryFieldSetPicklist_Tests.cls
  package-lock.json
  package.json
  sfdx-project.json
Labels: enhancement, log management

#604 Bugfix for UserInfo.getSessionId() exception in connected apps with JWT enabled
  README.md
  nebula-logger/core/main/configuration/customMetadata/LoggerParameter.DefaultLogEntryRelatedListFieldSet.md-meta.xml
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/logger.js
  package.json
  sfdx-project.json
Labels: bug, logger engine

#605 Bugfix: child Log__c records are not always linked to their parent Log__c record
  README.md
  docs/apex/Log-Management/LogManagementDataSelector.md
  nebula-logger/core/main/log-management/classes/LogHandler.cls
  nebula-logger/core/main/log-management/classes/LogManagementDataSelector.cls
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/logger.js
  nebula-logger/core/tests/log-management/classes/LogHandler_Tests.cls
  nebula-logger/core/tests/log-management/classes/LogManagementDataSelector_Tests.cls
  package.json
  sfdx-project.json
Labels: bug, log management

#614 Bugfix for broken LWC stack trace parsing
  README.md
  nebula-logger/core/main/logger-engine/classes/ComponentLogger.cls
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/logger.js
  nebula-logger/core/tests/logger-engine/classes/ComponentLogger_Tests.cls
  package.json
  sfdx-project.json
Labels: bug, lightning components, logger engine

#617 Bugfix: Improved conditional visibility for 'HTTP Response' page section
  .forceignore
  .github/workflows/build.yml
  README.md
  nebula-logger/core/main/log-management/applications/LoggerConsole.app-meta.xml
  nebula-logger/core/main/log-management/flexipages/LogEntryRecordPage.flexipage-meta.xml
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/logger.js
  nebula-logger/core/tests/logger-engine/classes/ComponentLogger_Tests.cls
  nebula-logger/managed-package/core/main/deprecated/profiles/Admin.profile-meta.xml
  nebula-logger/managed-package/sfdx-project.json
  nebula-logger/unsorted/main/default/profiles/Admin.profile-meta.xml
  package-lock.json
  package.json
  sfdx-project.json
Labels: bug, log management
