Repository jongpie/NebulaLogger, pull requests merged in 2024-07, with the labels that each got.

#703 Implement relatedLogEntries refresh button + spinner
  README.md
  nebula-logger/core/main/log-management/lwc/relatedLogEntries/relatedLogEntries.html
  nebula-logger/core/main/log-management/lwc/relatedLogEntries/relatedLogEntries.js
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/logEntryBuilder.js
  nebula-logger/extra-tests/flexipages/Nebula_Logger_Account_Record_Page.flexipage-meta.xml
  nebula-logger/extra-tests/objects/Account/Account.object-meta.xml
  package.json
  sfdx-project.json
Labels: enhancement, log management, related log entries LWC

#664 Added support for custom field mappings
  .github/FUNDING.yml
  README.md
  docs/apex/Configuration/LoggerFieldMapper.md
  docs/apex/Logger-Engine/LogEntryEventBuilder.md
  docs/apex/index.md
  images/custom-field-log-entry-event.png
  images/custom-field-log.png
  images/custom-field-mapping.png
  nebula-logger/core/main/configuration/classes/LoggerFieldMapper.cls
  nebula-logger/core/main/configuration/classes/LoggerFieldMapper.cls-meta.xml
  nebula-logger/core/main/configuration/classes/LoggerParameter.cls
  nebula-logger/core/main/configuration/classes/LoggerPlugin.cls
  nebula-logger/core/main/configuration/layouts/LoggerFieldMapping__mdt-Logger Field Mapping Layout.layout-meta.xml
  nebula-logger/core/main/configuration/objects/LoggerFieldMapping__mdt/LoggerFieldMapping__mdt.object-meta.xml
  nebula-logger/core/main/configuration/objects/LoggerFieldMapping__mdt/fields/IsEnabled__c.field-meta.xml
  nebula-logger/core/main/configuration/objects/LoggerFieldMapping__mdt/fields/SourceField__c.field-meta.xml
  nebula-logger/core/main/configuration/objects/LoggerFieldMapping__mdt/fields/SourceSObjectType__c.field-meta.xml
  nebula-logger/core/main/configuration/objects/LoggerFieldMapping__mdt/fields/TargetField__c.field-meta.xml
  nebula-logger/core/main/configuration/objects/LoggerFieldMapping__mdt/fields/TargetSObjectType__c.field-meta.xml
  nebula-logger/core/main/configuration/objects/LoggerFieldMapping__mdt/listViews/All.listView-meta.xml
  nebula-logger/core/main/configuration/objects/LoggerFieldMapping__mdt/validationRules/UnsupportedSourceSObjectType.validationRule-meta.xml
  nebula-logger/core/main/configuration/objects/LoggerFieldMapping__mdt/validationRules/UnsupportedTargetSObjectType.validationRule-meta.xml
  nebula-logger/core/main/log-management/classes/LogEntryEventHandler.cls
  nebula-logger/core/main/logger-engine/classes/LogEntryEventBuilder.cls
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/logEntryBuilder.js
  nebula-logger/core/tests/LoggerCore.testSuite-meta.xml
  nebula-logger/core/tests/configuration/classes/LoggerFieldMapper_Tests.cls
  nebula-logger/core/tests/configuration/classes/LoggerFieldMapper_Tests.cls-meta.xml
  nebula-logger/core/tests/logger-engine/classes/LogEntryEventBuilder_Tests.cls
  nebula-logger/extra-tests/customMetadata/LoggerFieldMapping.SomeLogEntryField.md-meta.xml
  nebula-logger/extra-tests/customMetadata/LoggerFieldMapping.SomeLogField.md-meta.xml
  nebula-logger/extra-tests/customMetadata/LoggerFieldMapping.SomeLoggerScenarioField.md-meta.xml
  nebula-logger/extra-tests/objects/LogEntryEvent__e/fields/SomeLogEntryField__c.field-meta.xml
  nebula-logger/extra-tests/objects/LogEntryEvent__e/fields/SomeLogField__c.field-meta.xml
  nebula-logger/extra-tests/objects/LogEntryEvent__e/fields/SomeLoggerScenarioField__c.field-meta.xml
  nebula-logger/extra-tests/objects/LogEntry__c/fields/SomeLogEntryField__c.field-meta.xml
  nebula-logger/extra-tests/objects/Log__c/fields/SomeLogField__c.field-meta.xml
  nebula-logger/extra-tests/objects/LoggerScenario__c/fields/SomeLoggerScenarioField__c.field-meta.xml
  nebula-logger/extra-tests/tests/LogEntryEventHandler_Tests_FieldMappings.cls
  nebula-logger/extra-tests/tests/LogEntryEventHandler_Tests_FieldMappings.cls-meta.xml
  package.json
  sfdx-project.json
Labels: enhancement, reporting, apex, configurations, log management, logger engine

#722 Bugfixes for Scenario Rules
  README.md
  nebula-logger/core/main/log-management/classes/LogEntryEventHandler.cls
  nebula-logger/core/main/logger-engine/classes/Logger.cls
  nebula-logger/core/main/logger-engine/lwc/logger/logEntryBuilder.js
  nebula-logger/core/tests/log-management/classes/LogEntryEventHandler_Tests.cls
  nebula-logger/core/tests/logger-engine/classes/Logger_Tests.cls
  package.json
  sfdx-project.json
Labels: bug, log management, logger engine, scenario-based logging
